@tailwind base;
@tailwind components;
@tailwind utilities;
/* Gray Minimalist New Post Instagram Story 2 */

body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

.logo {
    font-size: 24px;
}

.hero {
    background-image: url('./image.svg');
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 32px;
    font-weight: 600;
}

.lato {
    font-family: 'Lato';
}

.main-search {
    border-radius: 4px;
    font-family: 'Inter';
    height: 45px;
    align-self: center;
}

.seacrh__btn {
    height: 45px;

}

.description {
    font-size: 12px;
}

.featured {
    height: 200px;
    width: 250px;
    border-radius: 10px;
    background-color: black;
    transition: all 350ms ease;
    cursor: pointer;
}

.featured__description {
    height: 80px;
    background: rgba(20, 20, 20, 0.5);
    position: relative;
    top: 120px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
}

.featured:hover {
    scale: 1.1;
}

.stats {
    font-size: 32px;
    font-weight: 600;
}

.stat img {
    height: 40px;
    width: 40px;
}

.download {
    border-radius: 18px;
    background-color: white;
    padding: 10px;
    transition: all 400ms ease;
}

.download:hover {
    scale: 1.1;
}

.subscribe__input,
.subscribe__btn {
    height: 50px;
    padding: 10px 20px;
}

.subscribe__input {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    min-width: 300px;
}

.subscribe__btn {
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}

.copyright {
    border-top: 0.7px solid white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 15px;
}

.sale,
.sale__img {
    border-radius: 8px;
}

.sale {
    border: 1px solid lightgray;
}